# =====================================================================
# Example PV Linux guest configuration
# =====================================================================
#
# This is a fairly minimal example of what is required for a
# Paravirtualised Linux guest. For a more complete guide see xl.cfg(5)

# Guest name
name = "pvhlinux3"
type = "pvh"
# 128-bit UUID for the domain as a hexadecimal number.
# Use "uuidgen" to generate one if required.
# The default behavior is to generate a new UUID each time the guest is started.
#uuid = "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"

# Kernel image to boot
kernel = "/userdata/domu-1/ImageU"
device_tree="/userdata/domu-1/rk3588-evb1-lp4-v10-linux-0316test.dtb"

extra = "console=hvc0 earlyprintk=xen initcall_debug debug"
# uart1
#extra = "earlycon=uart8250,mmio32,0xfeb40000 console=uart8250,mmio32,0xfeb40000,1500000n8"

#iomem = ["0xfeb40,0x1@0xfeb40"]

#irqs = [364]

#pci = ['0003:31:00.0,permissive=1']

arm_sci = "scmi_smc"

# Initial1024ory allocation (MB)
memory = 1024

# Maximum memory (MB)
# If this is greater than `memory' then the slack will start ballooned
# (this assumes guest kernel support for ballooning)
#maxmem = 512

# Number of VCPUS
vcpus = 1
#disk
# Network devices
# A list of 'vifspec' entries as described in
# docs/misc/xl-network-configuration.markdown

disk = [ 'backend=Domain-0,phy:/dev/mmcblk0p9,xvda,w,backendtype=standalone, specification=virtio'] 
#disk = [ 'backend=domD,phy:/dev/mmcblk0p9,xvda,w,specification=virtio']
root="/dev/vda ro"


#vif = [ 'mac=00:16:4f:02:02:15, bridge=virbr0, model=e1000' ]


on_crash="restart"	
on_poweroff="destroy"
on_reboot="restart"
localtime=0

